{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="body">
    <h1>Entrer un nouveau username :</h1>
    <form method="post">
        <div method="annexe">
        {{form.as_p}}
        {% csrf_token %}
        </div>
        <button class="button-cta" type="submit">Changer</button>
    </form>
</div>

{% endblock %}