{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}Change Password {% endblock %}
{% block content %}

<div class="body">
    <h1>Changer votre mot de passe :</h1>
    <form method="post">
        <div class="annexe">
        {{ form.as_p }}
        {% csrf_token %}
        </div>
        <button class="button-cta" type="submit" >Changer le mot de passe</button>
    </form>
</div>

{% endblock %}