{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}Password Change Done{% endblock %}

{% block content %}
<div class="body">
    <h2 class="annexe">Mot de passe modifié avec succès</h2>
    <p class="annexe">Vous avez changé votre mot de passe avec succès ! Cliquez <a class="annexe-a" href="{% url 'home' %}">ici</a> pour revenir à la page d’accueil.</p>
</div>
{% endblock %}